[submodule "Peach/vendor/spdlog"]
	path = Peach/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Peach/vendor/GLFW"]
	path = Peach/vendor/GLFW
	url = https://github.com/glfw/glfw.git
